/* ************************************** Utilities Classes ************************************** */



/* **************************************** Title Section **************************************** */

.logo-img
{
    width: 20%;
    height: 20%;
    border-radius: 100%;
}

#title
    {
      padding: 3% 15% 9% 15%; /* top | right | bottom | left */
      background-color: #70939E;
    }

.navbar
    {
      padding-left: 0;
      margin-bottom: 10px;
    }

.hotdeal-text
    {

      color: ivory;

    }

.testimonial-image
    {
      margin-top: 5px;
      height: 75%;
      width: 75%;

    }