/* ************************************** Utilities Classes ************************************** */



/* **************************************** Title Section **************************************** */

.logo-img
{
    width: 20%;
    height: 20%;
    border-radius: 100%;
}

#title
    {
      padding: 3% 15% 9% 15%; /* top | right | bottom | left */
      background-color: #70939E;
    }

.navbar
    {
      padding-left: 0;
      margin-bottom: 30px;
    }

.hotdeal-text
    {

      color: ivory;
      font-family: "Rubik Distressed", system-ui;    

    }

.sliding-image
    {

      margin-top: 5px;
      height: 75%;
      width: 75%;

    }

/* **************************************** Products Section **************************************** */

#products
    {
     
      background-color: #29282D;
      padding: 7% 7%;
      text-align: center;

    }

.products-heading
    {

      color: #ffffff;
      font-size: 3rem;
      font-weight: 400;
      font-family: "Candal", sans-serif;;

    }

.products-info
    {

      color: #17A2B8;      
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 40px;
      font-family: "Montserrat", sans-serif;

    }

.card-header
    {

      color: #ffffff;
      text-align:center;

    }

.card-img-top
    {

      margin: 0px;
      border-radius: 4%;

    } 

.card-body
    {
      
      color: white;      

    }

/* ***************************************** Review Section ***************************************** */

#reviews
    {
      color:  darkslategray;
      text-align: center;
      padding: 7% 15% 0% 15%;
    }

#reviews h2
    {
      font-size: 3rem;
      font-weight: 300;
    }

#reviews img
    {
      width: 10%;
      border-radius: 100%;
      margin: 20px 5px 0 0;
    }

/* **************************************** Sponsors Section **************************************** */

#sponsors
    {

      text-align: center;
      background-color: ivory;
      padding: 7% 7%;

    }

#sponsors h2
    {

      font-family: "Montserrat", sans-serif;
      font-style: bold;
      font-weight: 800;

    }

#sponsors img
    {
      
      width: 12.5%;
      height: 12.5%;
      margin: 0 30px 0 30px;            

    }

#sponsors h2
    {

      color: #17A2B8;
      margin-bottom: 60px;      

    }

/* **************************************** Footer Section **************************************** */

#footer
    {
      background-color: #70939E;
      text-align: center;
      padding: 3% 3%;
      margin: 100px, 0, 100px, 0;
    }

#footer a
    {
      margin: 0 5px;      
    }

#footer i
    {
      font-size: 22.5px;
      color: white;
    }

footer p
    {
      color: white;
      margin-top: 10px;
    } 
